<form class="text-left" [formGroup]="frm" (ngSubmit)="enviar($event)">

    <p class="h5 mb-4 text-left">Formulário ({{acao}})</p>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome do Produto" formControlName="nome">
        </mat-form-field>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.nome.invalid">
            <div *ngIf="frm.controls.nome.errors.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput placeholder="Código do Produto" formControlName="codigo">
        </mat-form-field>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.codigo.invalid">
            <div *ngIf="frm.controls.codigo.errors.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <div class="form-group">
        <mat-label>Matéria Prima:</mat-label>
        <mat-radio-group formControlName="materiaPrima" aria-label="Selecione uma Opção">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let e of confirmacaoList">
                    <mat-radio-button value="{{e.chave}}">{{e.valor}}</mat-radio-button>
                </li>
            </ul>
        </mat-radio-group>

        <div class="text-danger" *ngIf="isEnviado && frm.controls.materiaPrima.invalid">
            <div *ngIf="frm.controls.materiaPrima.errors.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="foto">Foto:</label>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary m-2" (click)="carregarFoto($event)">Carregar</button>
                <button type="button" class="btn btn-primary m-2" (click)="limparFoto($event)">Limpar</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img alt="Foto" id="foto" [src]="frm.value.foto ? frm.value.foto : SEM_IMAGEM" class="img-fluid">
            </div>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Informações">
            <div class="form-group" formArrayName="produtoDescricaoList">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Atributo</th>
                                <th>Valor</th>
                                <th>Ordem</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let el of ordenadoProdutoDescricao(produtoDescricaoList.controls); index as i;  first as isFirst; last as isLast"
                            [formGroupName]="i">
                            <td>
                                <mat-label *ngIf="!el.editar">{{el.value.produtoAtributo.nome ? el.value.produtoAtributo.nome : el.value.produtoAtributo}}</mat-label>
                                    <div class="form-group" *ngIf="el.editar">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Atributo</mat-label>
                                            <input type="text" matInput placeholder="Atributo"
                                                [formControl]="el.controls.produtoAtributo" aria-label="Number"
                                                [matAutocomplete]="auto">
                                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                                [displayWith]="displayFn">
                                                <mat-option
                                                    *ngFor="let option of el.controls.produtoAtributo.$produtoAtributoListFiltered | async"
                                                    [value]="option">
                                                    {{option.nome}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="text-danger" *ngIf="isEnviado && el.controls.produtoAtributo.invalid">
                                        <div *ngIf="el.controls.produtoAtributo.errors.required">
                                            Campo obrigatório!
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <mat-label *ngIf="!el.editar">{{el.value.valor}}</mat-label>
                                    <div class="form-group" *ngIf="el.editar">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Valor</mat-label>
                                            <input matInput placeholder="Valor" formControlName="valor">
                                        </mat-form-field>
                                    </div>
                                    <div class="text-danger" *ngIf="isEnviado && el.controls.valor.invalid">
                                        <div *ngIf="el.controls.valor.errors.required">
                                            Campo obrigatório!
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" mat-icon-button *ngIf="!isFirst" (click)="sobe(i)">
                                        <mat-icon>keyboard_arrow_up</mat-icon>
                                    </button>
                                    <button type="button" mat-icon-button *ngIf="!isLast" (click)="desce(i)">
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </button>
                                    <div class="text-danger" *ngIf="isEnviado && el.controls.ordem.invalid">
                                        <div *ngIf="el.controls.ordem.errors.required">
                                            Campo obrigatório!
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm" *ngIf="el.editar"
                                            (click)="salvarProdutoDescricao(el)">salvar</button>
                                        <button type="button" class="btn btn-primary btn-sm"
                                            *ngIf="!el.editar && !produtoDescricaoEditando"
                                            (click)="editarProdutoDescricao(el)">editar</button>
                                        <button type="button" class="btn btn-primary btn-sm"
                                            (click)="cancelarProdutoDescricao(i);" *ngIf="el.editar">cancelar</button>
                                        <button type="button" class="btn btn-primary btn-sm"
                                            (click)="excluirProdutoDescricao(i);"
                                            *ngIf="!el.editar && !produtoDescricaoEditando">excluir</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-primary btn-sm" (click)="novoProdutoDescricao($event)"
                    *ngIf="!produtoDescricaoEditando">Adicionar</button>
            </div>
        </mat-tab>
        <mat-tab label="Preços">
            <div class="form-group" formArrayName="produtoPrecoList">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Vigência</th>
                            <th>Valor</th>
                            <th>Destinação</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let el of ordenadoProdutoPreco(produtoPrecoList.controls); index as i;"
                            [formGroupName]="i">
                            <td>
                                <mat-label *ngIf="!el.editar">{{el.value.vigencia | date: 'dd/MM/yyyy'}}</mat-label>
                                <div class="form-group" *ngIf="el.editar">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Vigência</mat-label>
                                        <input matInput type="date" placeholder="Vigência" formControlName="vigencia">
                                    </mat-form-field>
                                </div>
                                <div class="text-danger" *ngIf="isEnviado && el.controls.vigencia.invalid">
                                    <div *ngIf="el.controls.vigencia.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </td>
                            <td>
                                <mat-label *ngIf="!el.editar">{{el.value.valor | currency:'BRL':'symbol'}}</mat-label>
                                <div class="form-group" *ngIf="el.editar">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Valor</mat-label>
                                        <input matInput type="number" placeholder="Valor" formControlName="valor" 
                                            step="0.1" 
                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                                    </mat-form-field>
                                </div>
                                <div class="text-danger" *ngIf="isEnviado && el.controls.valor.invalid">
                                    <div *ngIf="el.controls.valor.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </td>
                            <td>
                                <mat-label *ngIf="!el.editar">{{exibeProdutoPrecoDestinacao(el.value.destinacao)}}</mat-label>
                                <div class="form-group" *ngIf="el.editar">
                                    <mat-radio-group formControlName="destinacao" aria-label="Selecione uma Opção">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-action" *ngFor="let e of produtoPrecoDestinacaoList">
                                                <mat-radio-button value="{{e.chave}}">{{e.valor}}</mat-radio-button>
                                            </li>
                                        </ul>
                                    </mat-radio-group>
                                </div>
                                <div class="text-danger" *ngIf="isEnviado && el.controls.destinacao.invalid">
                                    <div *ngIf="el.controls.destinacao.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm" *ngIf="el.editar"
                                        (click)="salvarProdutoPreco(el)">salvar</button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        *ngIf="!el.editar && !produtoPrecoEditando"
                                        (click)="editarProdutoPreco(el)">editar</button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="cancelarProdutoPreco(i);" *ngIf="el.editar">cancelar</button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="excluirProdutoPreco(i);"
                                        *ngIf="!el.editar && !produtoPrecoEditando">excluir</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-sm" (click)="novoProdutoPreco($event)"
                    *ngIf="!produtoPrecoEditando">Adicionar</button>
            </div>
        </mat-tab>
    </mat-tab-group>

    <button type="submit" class="btn btn-success btn-block">Enviar</button>
    <button class="btn btn-secondary btn-block" type="button" (click)="restaurar()" *ngIf="!frm.pristine">Restaurar Dados do Formulário</button>

</form>

<div class="alert alert-warning mt-5" role="alert" *ngIf="!prod">
    <p><b>prod: {{prod}}</b></p>
    <p>vl /{{frm.value | json}}/</p>
    <p>st /{{frm.status}}/</p>
    <p>er /{{frm.errors | json}}/</p>
</div>
