<form class="text-left" [formGroup]="form" (ngSubmit)="enviar()">

    <p class="h5 mb-4">Filtrar</p>

    <div class="form-group">
        <label for="usr">Tipo:</label>
        <label class="form-control">
            <input type="radio" name="tipo" id="pf" formControlName="tipo" autocomplete="off" value="">
            Todos
        </label>
        <label class="form-control">
            <input type="radio" name="tipo" id="pf" formControlName="tipo" autocomplete="off" value="PF">
            Pessoa Física
        </label>
        <label class="form-control">
            <input type="radio" name="tipo" id="pj" formControlName="tipo" autocomplete="off" value="PJ">
            Pessoa Jurídica
        </label>
    </div>
    <div class="form-group">
        <label for="cpfCnpj">CPF/CNPJ:</label>
        <input type="text" class="form-control" id="cpfCnpj" formControlName="cpfCnpj">
    </div>
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
    </div>

    <button class="btn btn-info btn-block" type="submit">Enviar</button>

</form>