<div class="container">
    <form>
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Recuperar Senha</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <label for="cpf">CPF</label>
                                <input type="text" id="cpf" class="form-control" placeholder="CPF" required autofocus>
                            </div>

                            <div class="form-label-group">
                                <label for="dataNascimento">Data de Nascimento</label>
                                <input type="text" id="dataNascimento" class="form-control"
                                    placeholder="Data de Nascimento" required>
                            </div>

                            <hr class="my-4">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit"[routerLink]="['/trocar-senha']">Enviar</button>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>