<p class="h5 mb-4 text-left">Listagem</p>

<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="filtro">
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8 example-container">

  <ng-container matColumnDef="data" sticky>
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let el"> <a [routerLink]="[el.id]">{{el.data}}</a> </td>
  </ng-container>

  <ng-container matColumnDef="eventoProdutoList">
    <th mat-header-cell *matHeaderCellDef> Produto(s) </th>
    <td mat-cell *matCellDef="let el">
      <table class="table">
        <thead>
          <tr>
            <th>Parceiro</th>
            <th>CPF/CNPJ</th>
            <th>Foto</th>
            <th>Nome</th>
            <th>Código</th>
            <th>Quantidade</th>
            <th>Unidade de Medida</th>
          </tr>
        </thead>
        <tbody *ngFor="let e of el.eventoProdutoList; let i = index">
          <tr *ngIf="i<3">
            <td>{{e.eventoPessoa.pessoa.nome}}</td>
            <td>{{e.eventoPessoa.pessoa.cpfCnpj}}</td>
            <td>
              <img [src]="e.produto.produtoModelo.foto ? e.produto.produtoModelo.foto : SEM_IMAGEM"
                class="rounded mx-auto d-block" style="max-height: 100px; max-width: 100px;">
            </td>
            <td>{{e.produto.produtoModelo.nome}}</td>
            <td>{{e.produto.produtoModelo.codigo}}</td>
            <td class="text-right">{{e.quantidade}}</td>
            <td>{{e.unidadeMedida.nome}}</td>
          </tr>
          <tr *ngIf="i>=3">
            <td colspan="7" class="text-center">
              <a [routerLink]="[el.id]">. . .</a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headElements; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: headElements;"></tr>
</mat-table>

<!-- 
/{{elements | json}}/ 
-->