<form class="text-left" [formGroup]="frm" (ngSubmit)="enviar()">

    <p class="h5 mb-4">Formulário ({{acao}}) /{{id}}/</p>

    <div class="form-group">
        <label for="usr">Tipo:</label>
        <label class="form-control">
            <input type="radio" name="tipo" id="pf" formControlName="tipo" autocomplete="off" value="PF">
            Pessoa Física
        </label>
        <label class="form-control">
            <input type="radio" name="tipo" id="pj" formControlName="tipo" autocomplete="off" value="PJ">
            Pessoa Jurídica
        </label>
    </div>
    <div class="form-group">
        <label for="cpfCnpj">CPF/CNPJ:</label>
        <input type="text" class="form-control" id="cpfCnpj" formControlName="cpfCnpj">
    </div>
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
        <label for="contato1">Contato 1:</label>
        <input type="text" class="form-control" id="contato1" formControlName="contato1">
    </div>
    <div class="form-group">
        <label for="contato2">Contato 2:</label>
        <input type="text" class="form-control" id="contato2" formControlName="contato2">
    </div>
    <div class="form-group">
        <label for="contato3">Contato 3:</label>
        <input type="text" class="form-control" id="contato3" formControlName="contato3">
    </div>

    <div class="form-group" formArrayName="enderecoList">
        <label for="endereco">Endereço(s):</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Logradouro</th>
                    <th>Complemento</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>UF</th>
                    <th>Cep</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of enderecoList.controls; index as i;" [formGroupName]="i">
                    <td [formGroup]="el.controls.endereco">
                        <input *ngIf="el.editar" class="form-control" type="text" formControlName="logradouro">
                        <label *ngIf="!el.editar">{{el.value.endereco.logradouro}}</label>
                    </td>
                    <td [formGroup]="el.controls.endereco">
                        <input *ngIf="el.editar" class="form-control" type="text" formControlName="complemento">
                        <label *ngIf="!el.editar">{{el.value.endereco.complemento}}</label>
                    </td>
                    <td [formGroup]="el.controls.endereco">
                        <input *ngIf="el.editar" class="form-control" type="text" formControlName="numero">
                        <label *ngIf="!el.editar">{{el.value.endereco.numero}}</label>
                    </td>
                    <td [formGroup]="el.controls.endereco">
                        <input *ngIf="el.editar" class="form-control" type="text" formControlName="bairro">
                        <label *ngIf="!el.editar">{{el.value.endereco.bairro}}</label>
                    </td>
                    <td [formGroup]="el.controls.endereco">
                        <input *ngIf="el.editar" class="form-control" type="text" formControlName="cidade">
                        <label *ngIf="!el.editar">{{el.value.endereco.cidade}}</label>
                    </td>
                    <td [formGroup]="el.controls.endereco">
                        <input *ngIf="el.editar" class="form-control" type="text" formControlName="uf">
                        <label *ngIf="!el.editar">{{el.value.endereco.uf}}</label>
                    </td>
                    <td [formGroup]="el.controls.endereco">
                        <input *ngIf="el.editar" class="form-control" type="text" formControlName="cep">
                        <label *ngIf="!el.editar">{{el.value.endereco.cep}}</label>
                    </td>
                    <td>
                        <a (click)="el.editar=!el.editar;">{{el.editar?'salvar':'editar'}}</a> | 
                        <a (click)="excluirEndereco(el);" *ngIf="!el.editar">excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" (click)="novoEndereco()">Adicionar</button>
    </div>

    / {{frm.value | json}} /

    <button class="btn btn-info btn-block" type="submit">Enviar</button>
</form>