<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="cadastroMenu" *ngIf="estaLogado">Cadastro</button>
        <mat-menu #cadastroMenu="matMenu">
            <button mat-menu-item>
                <a [routerLink]="['/', 'cadastro', 'pessoa']">Pessoas</a>
            </button>
            <!-- <button mat-menu-item>
                <a [routerLink]="['/', 'cadastro', 'usuario']">Usuário</a>
            </button> -->
            <button mat-menu-item>
                <a [routerLink]="['/', 'cadastro', 'produto-modelo']">Modelo de Produtos</a>
            </button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="acoesMenu" *ngIf="estaLogado">Ações</button>
        <mat-menu #acoesMenu="matMenu">
            <button mat-menu-item>
                <a [routerLink]="['/', 'acao', 'cotar']">Cotar Matéria-Prima</a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['/', 'acao', 'comprar']">Comprar Matéria-Prima</a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['/', 'acao', 'utilizar']">Utilizar Matéria-Prima</a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['/', 'acao', 'produzir']">Produzir Itens</a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['/', 'acao', 'vender']">Vender Itens</a>
            </button>
        </mat-menu>

        <span class="flexExpand"></span>

        <button mat-icon-button [matMenuTriggerFor]="sistemaMenu"><i class="fas fa-user"></i><span class="caret"></span>
            <mat-icon>perm_identity</mat-icon>
        </button>
        <mat-menu #sistemaMenu="matMenu">
            <button mat-menu-item *ngIf="!estaLogado">
                <a [routerLink]="['/', 'login']">Efetuar login (Entrar)</a>
            </button>
            <button mat-menu-item *ngIf="estaLogado">
                <a (click)='logout()'>Efetuar logout (Sair)</a>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>


<!-- 
            <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/']">Laço de Amor</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Cadastro<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect
                        [routerLink]="['/', 'cadastro', 'pessoa']">Pessoas</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect
                        [routerLink]="['/', 'cadastro', 'usuario']">Usuário</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect
                        [routerLink]="['/', 'cadastro', 'produto-modelo']">Modelo de Produtos</a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Ações<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/', 'acao', 'cotar']">Cotar</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/', 'acao', 'comprar']">Comprar
                        Matéria Prima</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect
                        [routerLink]="['/', 'acao', 'produzir']">Produzir</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect
                        [routerLink]="['/', 'acao', 'vender']">Vender</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <i class="fas fa-user"></i><span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/login']">Efetuar login
                        (Entrar)</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/logout']">Efetuar logout
                        (Sair)</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>
-->