<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="./assets/img/tema.jpeg" style="width: 75%">
            </div>
            <div class="col-8">
                <h1 class="display-4">Laço de Amor!</h1>
                <p class="lead">Nada torna um rosto <b>mais saudável</b> que a <b>máscara da bondade</b>.</p>
                <hr class="my-4">
                <p>Adquira sua máscara.</p>
            </div>
        </div>
    </div>
  </div>