<form class="text-left" [formGroup]="frm" (ngSubmit)="enviar()">
    
    <p class="h5 mb-4">Filtrar</p>
    
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
    </div>
    <div class="form-group">
        <label for="codigo">Código:</label>
        <input type="text" class="form-control" id="codigo" formControlName="codigo">
    </div>
    <div class="form-group">
        <label for="usr">Matéria Prima:</label>
        <label class="form-control">
            <input type="radio" name="tipo" id="pf" formControlName="tipo" autocomplete="off" value="">
            Todos
        </label>
        <label class="form-control">
            <input type="radio" name="tipo" id="pf" formControlName="tipo" autocomplete="off" value="S">
            Sim
        </label>
        <label class="form-control">
            <input type="radio" name="tipo" id="pj" formControlName="tipo" autocomplete="off" value="N">
            Não
        </label>
    </div>

    <button class="btn btn-info btn-block" type="submit">Enviar</button>

</form>