
<form class="text-left" [formGroup]="frm" (ngSubmit)="enviar($event)">

    <p class="h5 mb-4 text-left">Formulário ({{acao}})</p>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput placeholder="Data Cotação" formControlName="data">
        </mat-form-field>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.data.invalid">
            <div *ngIf="frm.controls.data.errors?.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <!-- 
    <p>vl /{{frm.value | json}}/</p>
    <p>st /{{frm.status}}/</p>
    <p>er /{{frm.errors | json}}/</p>
    -->

    <button type="submit" class="btn btn-success btn-block">Enviar</button>
</form>