<form class="text-left" [formGroup]="frm" (ngSubmit)="enviar($event)">

    <p class="h5 mb-4 text-left">Formulário ({{acao}})</p>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput placeholder="Data Cotação" formControlName="data">
        </mat-form-field>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.data.invalid">
            <div *ngIf="frm.controls.data.errors.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Relação Produto x Fornecedor">

            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <label>Produtos</label>
                                </div>
                                <mat-form-field>
                                    <mat-label>Filtro</mat-label>
                                    <input matInput (keyup)="applyFilterEventoProduto($event)" placeholder="filtro">
                                </mat-form-field>
                                <button type="button" class="btn btn-primary btn-sm">Adicionar</button>
                                <table mat-table [dataSource]="dataSourceEventoProduto" class="mat-elevation-z8"
                                    style="width: 100%;">

                                    <ng-container matColumnDef="foto">
                                        <th mat-header-cell *matHeaderCellDef> Foto </th>
                                        <td mat-cell *matCellDef="let el">
                                            <img [src]="el.produto.produtoModelo.foto ? el.produto.produtoModelo.foto : SEM_IMAGEM"
                                                class="rounded mx-auto d-block"
                                                style="max-height: 100px; max-width: 100px;">
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nome">
                                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                                        <td mat-cell *matCellDef="let el"> {{el.produto.produtoModelo.nome}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="codigo">
                                        <th mat-header-cell *matHeaderCellDef> Código </th>
                                        <td mat-cell *matCellDef="let el"> {{el.produto.produtoModelo.codigo}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="acao">
                                        <th mat-header-cell *matHeaderCellDef> Ação </th>
                                        <td mat-cell *matCellDef="let el"> <button type="button"
                                                class="btn btn-primary btn-sm">Excluir</button> </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="headElementsEventoProduto"></tr>
                                    <tr mat-row *matRowDef="let row; columns: headElementsEventoProduto;"></tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-1 align-middle text-center">
                            <span class="align-middle text-center">X</span>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <label>Fornecedores</label>
                                </div>
                                <mat-form-field>
                                    <mat-label>Filtro</mat-label>
                                    <input matInput (keyup)="applyFilterEventoPessoa($event)" placeholder="filtro">
                                </mat-form-field>
                                <button type="button" class="btn btn-primary btn-sm">Adicionar</button>

                                <table mat-table [dataSource]="dataSourceEventoPessoa" class="mat-elevation-z8"
                                    style="width: 100%;">

                                    <ng-container matColumnDef="nome">
                                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                                        <td mat-cell *matCellDef="let el"> {{el.pessoa.nome}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="tipo">
                                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                        <td mat-cell *matCellDef="let el"> {{el.pessoa.tipo}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="cpfCnpj">
                                        <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
                                        <td mat-cell *matCellDef="let el"> {{el.pessoa.cpfCnpj}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="acao">
                                        <th mat-header-cell *matHeaderCellDef> Ação </th>
                                        <td mat-cell *matCellDef="let el"> <button type="button"
                                                class="btn btn-primary btn-sm">Excluir</button> </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="headElementsEventoPessoa"></tr>
                                    <tr mat-row *matRowDef="let row; columns: headElementsEventoPessoa;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Cotação de Preços">
            <table class="table table-striped table-bordered table-hover table-sm" [formGroup]="frm">
                <thead>
                    <tr>
                        <td>Produto</td>
                        <td>Quantidade</td>
                        <td>Unidade</td>
                        <td>Preço Unitário</td>
                        <td>Preço Total</td>
                    </tr>
                </thead>
                <tbody *ngFor="let f of frm.value.eventoPessoaList; index as i" formArrayName="eventoProdutoList">
                    <tr class="table-primary">
                        <td colspan="5">Fornecedor: <b>{{f.pessoa.nome}}</b>, {{f.pessoa.tipo}}, {{f.pessoa.cpfCnpj}}
                        </td>
                    </tr>
                    <tr *ngFor="let p of eventoProdutoList.controls; index as i" [formGroupName]="i">
                        <td>{{p.value.produto.produtoModelo.nome}} ({{p.value.produto.produtoModelo.codigo}})</td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Quantidade</mat-label>
                                    <input matInput placeholder="Quantidade" formControlName="quantidade">
                                </mat-form-field>
                                <div class="text-danger" *ngIf="isEnviado && p.controls.quantidade.invalid">
                                    <div *ngIf="p.controls.quantidade.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Unidade de Medida</mat-label>
                                    <input matInput placeholder="Unidade de Medida" formControlName="unidadeMedida">
                                </mat-form-field>
                                <div class="text-danger" *ngIf="isEnviado && p.controls.unidadeMedida.invalid">
                                    <div *ngIf="p.controls.unidadeMedida.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Valor Unitário</mat-label>
                                    <input matInput placeholder="Valor Unitário" formControlName="valorUnitario">
                                </mat-form-field>
                                <div class="text-danger" *ngIf="isEnviado && p.controls.valorUnitario.invalid">
                                    <div *ngIf="p.controls.valorUnitario.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Valor Total</mat-label>
                                    <input matInput placeholder="Valor Total" formControlName="valorTotal">
                                </mat-form-field>
                                <div class="text-danger" *ngIf="isEnviado && p.controls.valorTotal.invalid">
                                    <div *ngIf="p.controls.valorTotal.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>

    <!-- 
        <p>vl /{{frm.value | json}}/</p>
        <p>st /{{frm.status}}/</p>
        <p>er /{{frm.errors | json}}/</p>
    -->

    <button type="submit" class="btn btn-success btn-block">Enviar</button>
</form>