<form class="text-left" [formGroup]="frm" (ngSubmit)="enviar($event)">

    <p class="h5 mb-4 text-left">Formulário ({{acao}})</p>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput placeholder="Data Cotação" formControlName="data">
        </mat-form-field>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.data.invalid">
            <div *ngIf="frm.controls.data.errors.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Produtos">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <label>Produtos</label>
                                </div>
                                <mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Filtro</mat-label>
                                        <input type="text" matInput placeholder="Pesquisar Produto"
                                            [(ngModel)]="pesquisarEventoProduto" [ngModelOptions]="{standalone: true}"
                                            [matAutocomplete]="autoEventoProduto"
                                            (keyup)="completarEventoProduto($event)">
                                        <mat-autocomplete autoActiveFirstOption #autoEventoProduto="matAutocomplete"
                                            [displayWith]="displayFnEventoProduto">
                                            <mat-option *ngFor="let option of $filteredOptionsEventoProduto | async"
                                                [value]="option">
                                                {{option.nome}} ({{option.codigo}})
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </mat-form-field>
                                <button type="button" class="btn btn-primary btn-sm"
                                    [disabled]="podeAdicionarEventoProduto()"
                                    (click)="adicionarEventoProduto()">Adicionar</button>
                                <table class="table" *ngIf="frm.controls.eventoProdutoList.value.length">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Foto</th>
                                            <th>Nome</th>
                                            <th>Código</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let el of frm.controls.eventoProdutoList.value; index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                <img [src]="el.produto.produtoModelo.foto ? el.produto.produtoModelo.foto : SEM_IMAGEM"
                                                    class="rounded mx-auto d-block"
                                                    style="max-height: 100px; max-width: 100px;">
                                            </td>
                                            <td>
                                                {{el.produto.produtoModelo.nome}}
                                            </td>
                                            <td>
                                                {{el.produto.produtoModelo.codigo}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    (click)="excluirEventoProduto(i)">Excluir</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Fornecedores">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <label>Fornecedores</label>
                                </div>
                                <mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Filtro</mat-label>
                                        <input type="text" matInput placeholder="Pesquisar Fornecedor"
                                            [(ngModel)]="pesquisarEventoPessoa" [ngModelOptions]="{standalone: true}"
                                            [matAutocomplete]="autoEventoPessoa"
                                            (keyup)="completarEventoPessoa($event)">
                                        <mat-autocomplete autoActiveFirstOption #autoEventoPessoa="matAutocomplete"
                                            [displayWith]="displayFnEventoPessoa">
                                            <mat-option *ngFor="let option of $filteredOptionsEventoPessoa | async"
                                                [value]="option">
                                                {{option.nome}} ({{option.cpfCnpj}})
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </mat-form-field>
                                <button type="button" class="btn btn-primary btn-sm"
                                    [disabled]="podeAdicionarEventoPessoa()"
                                    (click)="adicionarEventoPessoa()">Adicionar</button>
                                <table class="table" *ngIf="frm.controls.eventoPessoaList.value.length">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>CPF/CNPJ</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let el of frm.controls.eventoPessoaList.value; index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{el.pessoa.nome}}
                                            </td>
                                            <td>
                                                {{el.pessoa.cpfCnpj}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    (click)="excluirEventoPessoa(i)">Excluir</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Cotação de Preços">
            <table class="table table-striped table-bordered table-hover table-sm" [formGroup]="frm"
                *ngFor="let f of frm.value.eventoPessoaList; index as i" formArrayName="eventoProdutoList">
                <thead>
                    <tr>
                        <th class="m-0" colspan="7">
                            <h3><b>Cotação {{i + 1}}.</b></h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td class="m-0 text-right">
                            Fornecedor:
                        </td>
                        <td class="m-0" colspan="6">
                            <b>{{f.pessoa.nome}}</b>, {{f.pessoa.tipo}}, {{f.pessoa.cpfCnpj}}
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="m-0 text-right">
                            E-mail:
                        </td>
                        <td class="m-0" colspan="6">
                            <a href="mailto:{{f.pessoa.email}}">{{f.pessoa.email}}</a>
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="m-0 text-right">
                            Contato 1:
                        </td>
                        <td class="m-0" colspan="6">
                            {{f.pessoa.contato1}}
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="m-0 text-right">
                            Contato 2:
                        </td>
                        <td class="m-0" colspan="6">
                            {{f.pessoa.contato2}}
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <td class="m-0 text-right">
                            Contato 3:
                        </td>
                        <td class="m-0" colspan="6">
                            {{f.pessoa.contato3}}
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Foto</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Unidade</th>
                        <th>Preço Unitário</th>
                        <th>Preço Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of eventoProdutoList.controls; index as j" [formGroupName]="j">
                        <td>
                            {{j+1}}
                        </td>
                        <td>
                            <img [src]="p.value.produto.produtoModelo.foto ? p.value.produto.produtoModelo.foto : SEM_IMAGEM"
                                class="rounded mx-auto d-block" style="max-height: 100px; max-width: 100px;">
                        </td>
                        <td>{{p.value.produto.produtoModelo.nome}} ({{p.value.produto.produtoModelo.codigo}})</td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Quantidade</mat-label>
                                    <input matInput placeholder="Quantidade" formControlName="quantidade">
                                </mat-form-field>
                                <div class="text-danger" *ngIf="isEnviado && p.controls.quantidade.invalid">
                                    <div *ngIf="p.controls.quantidade.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Unidade de Medida</mat-label>
                                    <input matInput placeholder="Unidade de Medida" formControlName="unidadeMedida">
                                </mat-form-field>
                                <div class="text-danger" *ngIf="isEnviado && p.controls.unidadeMedida.invalid">
                                    <div *ngIf="p.controls.unidadeMedida.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Valor Unitário</mat-label>
                                    <input matInput placeholder="Valor Unitário" formControlName="valorUnitario">
                                </mat-form-field>
                                <div class="text-danger" *ngIf="isEnviado && p.controls.valorUnitario.invalid">
                                    <div *ngIf="p.controls.valorUnitario.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Valor Total</mat-label>
                                    <input matInput placeholder="Valor Total" formControlName="valorTotal">
                                </mat-form-field>
                                <div class="text-danger" *ngIf="isEnviado && p.controls.valorTotal.invalid">
                                    <div *ngIf="p.controls.valorTotal.errors.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-right" colspan="6">Total da cotação {{i + 1}} do fornecedor {{f.pessoa.nome}}
                        </th>
                        <th>0,00</th>
                    </tr>
                </tfoot>
            </table>
        </mat-tab>
    </mat-tab-group>

    <!-- 
        <p>vl /{{frm.value | json}}/</p>
        <p>st /{{frm.status}}/</p>
        <p>er /{{frm.errors | json}}/</p>
    -->

    <button type="submit" class="btn btn-success btn-block">Enviar</button>
</form>