<form class="text-left" [formGroup]="frm" (ngSubmit)="enviar($event)">

    <p class="h5 mb-4 text-left">Formulário ({{acao}})</p>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput placeholder="Data Cotação" formControlName="data">
        </mat-form-field>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.data.invalid">
            <div *ngIf="frm.controls.data.errors?.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <mat-tab-group animationDuration="2ms" [(selectedIndex)]="selecionaTab">
        <mat-tab label="Produtos">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <label>Produtos</label>
                                </div>
                                <div class="form-group">
                                    <div class="mt-4 ml-4">Informe o nome ou código do produto a ser cotado:</div>
                                    <mat-form-field class="ml-4 mr-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Filtro</mat-label>
                                            <input type="text" matInput placeholder="Pesquisar Produto"
                                                [(ngModel)]="pesquisarEventoProduto"
                                                [ngModelOptions]="{standalone: true}"
                                                [matAutocomplete]="autoEventoProduto"
                                                (keyup)="completarEventoProduto($event)">
                                            <mat-autocomplete autoActiveFirstOption #autoEventoProduto="matAutocomplete"
                                                [displayWith]="displayFnEventoProduto">
                                                <mat-option *ngFor="let option of $filteredOptionsEventoProduto | async"
                                                    [value]="option">
                                                    {{option.nome}} ({{option.codigo}})
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </mat-form-field>
                                    <button type="button" class="btn btn-primary btn-sm m-4"
                                        [disabled]="podeAdicionarEventoProduto()"
                                        (click)="adicionarEventoProduto()">Adicionar</button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table" *ngIf="eventoProdutoList.value.length">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Foto</th>
                                                <th>Nome</th>
                                                <th>Código</th>
                                                <th>Quantidade</th>
                                                <th>Unidade de Medida</th>
                                                <th>Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="eventoProdutoList">
                                            <tr *ngFor="let el of eventoProdutoList.controls | callback: filtrarCotacaoGenerica; index as i"
                                                [formGroupName]="i">
                                                <td>
                                                    {{i+1}}
                                                </td>
                                                <td>
                                                    <img [src]="el.value.produto.produtoModelo.foto ? el.value.produto.produtoModelo.foto : SEM_IMAGEM"
                                                        class="rounded mx-auto d-block"
                                                        style="max-height: 100px; max-width: 100px;">
                                                </td>
                                                <td>
                                                    {{el.value.produto.produtoModelo.nome}}
                                                </td>
                                                <td>
                                                    {{el.value.produto.produtoModelo.codigo}}
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Quantidade</mat-label>
                                                            <input matInput type="number" placeholder="Quantidade"
                                                                class="text-right" formControlName="quantidade">
                                                        </mat-form-field>
                                                        <div class="text-danger"
                                                            *ngIf="isEnviado && el.controls.quantidade.invalid">
                                                            <div *ngIf="el.controls.quantidade.errors?.required">
                                                                Campo obrigatório!
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Unidade de Medida</mat-label>
                                                            <mat-select formControlName="unidadeMedida"
                                                                [compareWith]="unidadeMedidaListComparar">
                                                                <mat-option *ngFor="let option of unidadeMedidaList"
                                                                    [value]="option">
                                                                    {{option.nome}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <div class="text-danger"
                                                            *ngIf="isEnviado && el.controls.unidadeMedida.invalid">
                                                            <div *ngIf="el.controls.unidadeMedida.errors?.required">
                                                                Campo obrigatório!
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm"
                                                        (click)="excluirEventoProduto(i)">Excluir</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-danger" *ngIf="isEnviado && frm.controls.eventoProdutoList.invalid">
                                    <div *ngIf="frm.controls.eventoProdutoList.errors?.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Fornecedores" *ngIf="eventoProdutoList.length">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <label>Fornecedores</label>
                                </div>
                                <div class="form-group">
                                    <div class="mt-4 ml-4">Informe o nome ou CPF/CNPJ do fornecedor do produto:</div>
                                    <mat-form-field class="ml-4 mr-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Filtro</mat-label>
                                            <input type="text" matInput placeholder="Pesquisar Fornecedor"
                                                [(ngModel)]="pesquisarEventoPessoa"
                                                [ngModelOptions]="{standalone: true}"
                                                [matAutocomplete]="autoEventoPessoa"
                                                (keyup)="completarEventoPessoa($event)">
                                            <mat-autocomplete autoActiveFirstOption #autoEventoPessoa="matAutocomplete"
                                                [displayWith]="displayFnEventoPessoa">
                                                <mat-option *ngFor="let option of $filteredOptionsEventoPessoa | async"
                                                    [value]="option">
                                                    {{option.nome}} ({{option.cpfCnpj}})
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </mat-form-field>
                                    <button type="button" class="btn btn-primary btn-sm m-4"
                                        [disabled]="podeAdicionarEventoPessoa()"
                                        (click)="adicionarEventoPessoa()">Adicionar</button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table" *ngIf="eventoPessoaList.value.length">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>CPF/CNPJ</th>
                                                <th>Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="eventoPessoaList">
                                            <tr *ngFor="let el of eventoPessoaList.controls; index as i"
                                                [formGroupName]="i">
                                                <td>
                                                    {{i+1}}
                                                </td>
                                                <td>
                                                    {{el.value.pessoa.nome}}
                                                </td>
                                                <td>
                                                    {{el.value.pessoa.cpfCnpj}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm"
                                                        (click)="excluirEventoPessoa(i)">Excluir</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-danger" *ngIf="isEnviado && frm.controls.eventoPessoaList.invalid">
                                    <div *ngIf="frm.controls.eventoPessoaList.errors?.required">
                                        Campo obrigatório!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Cotação de Preços" formArrayName="eventoPessoaList" *ngIf="exibirAbaCotacaoPreco()">
            <button type="button" class="btn btn-primary btn-sm m-5 center" (click)="gerarPlanilhaCotacao()"
                *ngIf="eventoProdutoList.controls.length && eventoPessoaList.controls.length">Gerar Planilha de
                Cotação</button>
            <div *ngIf="exibirCotacaoPreco()">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-sm"
                        *ngFor="let el of eventoPessoaList.controls; index as i" [formGroupName]="i">
                        <thead>
                            <tr>
                                <th class="m-0" colspan="7">
                                    <h3><b>Cotação {{i + 1}}.</b></h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <td class="m-0 text-right">
                                    Fornecedor:
                                </td>
                                <td class="m-0" colspan="6">
                                    <b>{{el.value.pessoa.nome}}</b>, {{el.value.pessoa.tipo}},
                                    {{el.value.pessoa.cpfCnpj}}
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td class="m-0 text-right">
                                    E-mail:
                                </td>
                                <td class="m-0" colspan="6">
                                    <a href="mailto:{{el.value.pessoa.email}}">{{el.value.pessoa.email}}</a>
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td class="m-0 text-right">
                                    Contato 1:
                                </td>
                                <td class="m-0" colspan="6">
                                    {{el.value.pessoa.contato1}}
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td class="m-0 text-right">
                                    Contato 2:
                                </td>
                                <td class="m-0" colspan="6">
                                    {{el.value.pessoa.contato2}}
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td class="m-0 text-right">
                                    Contato 3:
                                </td>
                                <td class="m-0" colspan="6">
                                    {{el.value.pessoa.contato3}}
                                </td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Foto</th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Unidade</th>
                                <th>Preço Unitário</th>
                                <th>Preço Total</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="eventoProdutoList">
                            <tr *ngFor="let p of el['controls'].eventoProdutoList.controls; index as j"
                                [formGroupName]="j">
                                <td>
                                    {{j+1}}
                                </td>
                                <td>
                                    <img [src]="p.value.produto.produtoModelo.foto ? p.value.produto.produtoModelo.foto : SEM_IMAGEM"
                                        class="rounded mx-auto d-block" style="max-height: 100px; max-width: 100px;">
                                </td>
                                <td>{{p.value.produto.produtoModelo.nome}} ({{p.value.produto.produtoModelo.codigo}})
                                </td>
                                <td>
                                    <div class="form-group">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Quantidade</mat-label>
                                            <input matInput type="number" placeholder="Quantidade" class="text-right"
                                                formControlName="quantidade" readonly="true">
                                        </mat-form-field>
                                        <div class="text-danger" *ngIf="isEnviado && p.controls.quantidade.invalid">
                                            <div *ngIf="p.controls.quantidade.errors?.required">
                                                Campo obrigatório!
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Unidade de Medida</mat-label>
                                            <mat-select formControlName="unidadeMedida" readonly="true"
                                                [compareWith]="unidadeMedidaListComparar">
                                                <mat-option *ngFor="let option of unidadeMedidaList" [value]="option">
                                                    {{option.nome}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="text-danger" *ngIf="isEnviado && p.controls.unidadeMedida.invalid">
                                            <div *ngIf="p.controls.unidadeMedida.errors?.required">
                                                Campo obrigatório!
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Valor Unitário</mat-label>
                                            <input matInput type="number" placeholder="Valor Unitário"
                                                class="text-right" formControlName="valorUnitario">
                                        </mat-form-field>
                                        <div class="text-danger" *ngIf="isEnviado && p.controls.valorUnitario.invalid">
                                            <div *ngIf="p.controls.valorUnitario.errors?.required">
                                                Campo obrigatório!
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Valor Total</mat-label>
                                            <input matInput type="number" placeholder="Valor Total" class="text-right"
                                                formControlName="valorTotal" readonly="true">
                                        </mat-form-field>
                                        <div class="text-danger" *ngIf="isEnviado && p.controls.valorTotal.invalid">
                                            <div *ngIf="p.controls.valorTotal.errors?.required">
                                                Campo obrigatório!
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-right" colspan="6">Total da cotação {{i + 1}} do fornecedor
                                    {{el.value.pessoa.nome}}
                                </th>
                                <th class="text-right">{{el.value.eventoProdutoListTotal | currency:'BRL':true}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <!-- 
    <p>vl /{{frm.value | json}}/</p>
    <p>st /{{frm.status}}/</p>
    <p>er /{{frm.errors | json}}/</p>
    -->

    <button type="submit" class="btn btn-success btn-block">Enviar</button>
</form>